// {{ ansible_managed }}
loki.source.journal "fleet" {
  forward_to    = [loki.write.monitor.receiver]
  relabel_rules = loki.relabel.journal.rules
  labels        = { host = "{{ inventory_hostname }}" }
}

loki.relabel "journal" {
  forward_to = []

  rule {
    target_label = "job"
    replacement  = "systemd-journal"
  }

  rule {
    source_labels = ["__journal_syslog_identifier"]
    target_label  = "unit"
  }

  rule {
    source_labels = ["__journal__systemd_unit"]
    regex         = "(.+)"
    target_label  = "unit"
  }

  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }
}

loki.write "monitor" {
  endpoint {
    url = "{{ ubuntu_log_agent_push_url }}"
  }
}
