{{ ansible_managed | comment }}
[Unit]
Description=Grafana Alloy
Documentation=https://grafana.com/docs/alloy/latest/
Wants=network-online.target
After=network-online.target

[Service]
User=alloy
Group=alloy
WorkingDirectory={{ rhel_log_agent_state_dir }}
ExecStart=/usr/local/bin/alloy run \
    --storage.path={{ rhel_log_agent_state_dir }} \
    --server.http.listen-addr=127.0.0.1:12345 \
    {{ rhel_log_agent_config_dir }}/config.alloy
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
TimeoutStopSec=20s

# hardening v2 (service)
NoNewPrivileges=true
CapabilityBoundingSet=
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ rhel_log_agent_state_dir }}
PrivateTmp=true
PrivateDevices=true
DeviceAllow=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectProc=invisible
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
SystemCallArchitectures=native
UMask=0077
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target
