{{ ansible_managed | comment }}
[Unit]
Description=Proxmox VE Exporter
Documentation=https://github.com/prometheus-pve/prometheus-pve-exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ svc_pve_exporter_user }}
Group={{ svc_pve_exporter_group }}
ExecStart={{ svc_pve_exporter_venv_dir }}/bin/pve_exporter \
    --config.file {{ svc_pve_exporter_config_file }} \
    --web.listen-address {{ svc_pve_exporter_listen_address }}:{{ svc_pve_exporter_listen_port }}
Restart=on-failure
RestartSec=5

# hardening v2 (service)
NoNewPrivileges=true
CapabilityBoundingSet=
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
DeviceAllow=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectProc=invisible
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
SystemCallArchitectures=native
UMask=0077
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target
