[Unit]
Description=Prometheus Node Exporter
After=network-online.target
Wants=network-online.target

[Service]
User=node_exporter
Group=node_exporter
ExecStart=/usr/local/bin/node_exporter{% if ubuntu_monitoring_agent_textfile_dir %} --collector.textfile.directory={{ ubuntu_monitoring_agent_textfile_dir }}{% endif %}

Restart=on-failure

[Install]
WantedBy=multi-user.target
