{{ ansible_managed | comment }}
global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "{{ svc_prometheus_config_dir }}/rules/*.rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - 127.0.0.1:9093

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - 127.0.0.1:9090

  - job_name: alertmanager
    static_configs:
      - targets:
          - 127.0.0.1:9093

  - job_name: loki
    static_configs:
      - targets:
          - 127.0.0.1:3100

  - job_name: node
    file_sd_configs:
      - files:
          - "{{ svc_prometheus_config_dir }}/targets/node_*.json"

  - job_name: blackbox-https
    metrics_path: /probe
    params:
      module: [https_2xx]
    file_sd_configs:
      - files:
          - "{{ svc_prometheus_config_dir }}/targets/blackbox_https.json"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  - job_name: blackbox-https-insecure
    metrics_path: /probe
    params:
      module: [https_2xx_insecure]
    file_sd_configs:
      - files:
          - "{{ svc_prometheus_config_dir }}/targets/blackbox_https_insecure.json"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  - job_name: blackbox-http
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
      - files:
          - "{{ svc_prometheus_config_dir }}/targets/blackbox_http.json"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  - job_name: blackbox-tcp
    metrics_path: /probe
    params:
      module: [tcp_connect]
    file_sd_configs:
      - files:
          - "{{ svc_prometheus_config_dir }}/targets/blackbox_tcp.json"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  - job_name: blackbox-dns
    metrics_path: /probe
    params:
      module: [dns]
    file_sd_configs:
      - files:
          - "{{ svc_prometheus_config_dir }}/targets/blackbox_dns.json"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115

  - job_name: pve
    metrics_path: /pve
    params:
      module: [default]
    file_sd_configs:
      - files:
          - "{{ svc_prometheus_config_dir }}/targets/pve.json"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9221
