{{ ansible_managed | comment }}
[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart={{ svc_prometheus_install_dir }}/prometheus \
    --config.file={{ svc_prometheus_config_dir }}/prometheus.yml \
    --storage.tsdb.path={{ svc_prometheus_tsdb_mount }} \
    --storage.tsdb.retention.time={{ svc_prometheus_retention_time }} \
    --storage.tsdb.retention.size={{ svc_prometheus_retention_size }} \
    --web.enable-admin-api \
    --web.listen-address=127.0.0.1:9090
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

# hardening v2 (service)
NoNewPrivileges=true
CapabilityBoundingSet=
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ svc_prometheus_tsdb_mount }}
PrivateTmp=true
PrivateDevices=true
DeviceAllow=
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectProc=invisible
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
SystemCallArchitectures=native
UMask=0077
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target
